<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>API_KEY</key><string>AIzaSyAKoNr2iPZi2XB0l_JaGhTkM2hsitwqyKE</string><key>GCM_SENDER_ID</key><string>450938791386</string><key>PROJECT_ID</key><string>vinfast-873db</string><key>STORAGE_BUCKET</key><string>vinfast-873db.firebasestorage.app</string><key>BUNDLE_ID</key><string>com.khanhbes.vinfastbattery</string><key>GOOGLE_APP_ID</key><string>1:450938791386:ios:vinfastbattery</string><key>IS_ANALYTICS_ENABLED</key><false/><key>IS_ADS_ENABLED</key><false/>
</dict></plist>
